<app-header [paso]="null"></app-header>
<div class="row-fluid ">
    <div class=" cont_entrada">

        <div class="span12 sombraCont">
            <!-- sidebar-->
            <div class="span3" id="sidebar">
                <div class="row">
                    <img src="../../assets/img/icon-cca-sidebar.png">
                </div>
                

            </div>
            <!--fin sidebar-->

            <div class="span9" id="contenedor">
                <!--comienzo de los divs de los pasos -->
                <div class="principal" style="background-color:white; height: 395px;padding-top:25px;padding-left:15px;">
                  <h3>¡Ups! Página no encontrada</h3>
                  <h5>Ingrese una dirección web correcta o vuelva al inicio :)</h5>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row-fluid" style="margin-top:14px">

    <div style="position:relative">
        
        <div class="row-fluid" style="position: absolute;z-index:0;top:-25px">
            <img src="../../assets/img/bg_shadow.png">
        </div>
    </div>
</div>


