.textoChico{
    font-size: 8px;
    color:#737373;
}

.recuadro{
    text-align: justify;
   
}
.celeste{
    font-size: 20px;
}
.letra_clasif{
    color: white;
}
.em{
    font-size: 35px;
    color: rgb(75, 204, 255);
}
.segunda{
    
    font-size: 35px;
}