<div id="cont_paso5">
    <div class="row-fluid">
        <div class="span12"  >
            <h5 class="letra myriad bold"><span class="rojo">FINALIZA TU </span>OPERACI&Oacute;N</h5>
            <small>Para completar su operaci&oacute;n verifique que todos los datos, tanto de la pel&iacute;cula, d&iacute;a, horario como los personales sean correctos. Luego presione el botón FINALIZAR. Muchas gracias.</small>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span7">
            <div style="margin-bottom: 20px;"  *ngIf="isUserLoggedIn==false"><h6 ><span class="celeste myriad" id="info">UD. NO HA INGRESADO EN EL SISTEMA, POR FAVOR HAGA CLICK SOBRE EL BOT&Oacute;N REGISTRAR/INGRESAR EN LA PARTE SUPERIOR DEL SITIO.</span></h6></div>
            <div class="datos" *ngIf="isUserLoggedIn==true">
                <ul class="datos">
                    <li>Nombre:  <span class="celeste">{{usuario.getNombre()}} {{usuario.getApellido()}}</span></li>
                     <li>Email  <span class="celeste">{{usuario.getEmail()}}</span></li>
                      <li>DNI:  <span class="celeste">{{usuario.getNroDoc()}}</span></li>
                      <li>Telefono:  <span class="celeste">{{usuario.getTelefono()}}</span></li>
                </ul>
            </div>
       
        </div> 
        
    </div>
    <div class="row-fluid">
        <div class="span6"><h5 class="letra myriad bold"><span class="rojo">TIPO</span> DE OPERACI&Oacute;N</h5></div>
        <div class="span5 text-right">
            <div class="button morado">
                <button ><span>Compra</span></button>
            </div>
        </div>


    </div>
    <div class="row-fluid" style='position: relative;top: -5px;'>
        <div class="span3">
    <img  src="./assets/img/nps-verisign-logo.png" alt="img tipo operaci&oacute;n">
    </div> 
        <div class="span8">
            <small >El total de su operación es de <span class="bold">${{this.entradaControlador.precioEntrada+this.entradaControlador.precioCombo}}</span>. Para finalizar con su pedido, por favor ingrese la informaci&oacute;n solicitada y haga click en el bot&oacute;n finalizar".</small>
     

                    <div class="control-group" id="r1Div">
                        
                        <div class="controls">
                            <label class="control-label" for="tarjeta"><h6><strong >Tipo de Tarjeta:</strong></h6></label>
                             <select id="tarjeta" name="tarjeta" required [(ngModel)]="tarjeta" (change)="guardarTarjeta(tarjeta)" >
                              
                              <option value='Visa'>Visa Cr&eacute;dito</option>
                              <option value='VisaBanelco'>Visa Dedito (Red Banelco)</option> 
                            </select>
                            <input type="submit" id="formulario" name="formulario" class="hide" />

                        </div>
                        <label style='line-height: 12px'><input type="checkbox" id="terminos" name="terminos" [(ngModel)]="terminos" (change)="guardarTerminos()" required><small>Acepto <span class="celeste">T&eacute;rminos y condiciones.</span> Una vez realizada la compra, la transacci&oacute;n no puede ser revertida.<span class="rojo"> Recuerde que al retirar sus entradas deber&aacute; contar con el DNI y la tarjeta de cr&eacute;dito con la cual realizar&aacute; la compra.</span></small></label>
                    </div>

         <div *ngIf="!terminos" class="errorForm">Debe aceptar los Términos y Condiciones para continuar..</div>
               
        </div>
    </div>
</div>