<!--The content below is only a placeholder and can be replaced.-->
<html>
<body>
<div class="container-wrapper">

  <div class="container-narrow">
    <router-outlet></router-outlet>
    <footer>
      <div class="footer_inf">
          <div class="row-fluid">
              <div class="span8 footer_menu">
                  <a routerLink="/inicio"> Inicio |</a>
                  <a routerLink="/comoComprar"> Cómo Comprar |</a>
                
                       <a *ngIf="isUserLoggedIn==true  else notShow" routerLink="/miCuenta"> Mi Cuenta |</a>
                 
                   <ng-template #notShow>
                       <a routerLink="/registro"> Registrar/Ingresar |</a>
                   </ng-template>
                  <a routerLink="/contacto"> Contacto |</a>
                  <a routerLink="/clasificaciones"> Clasificaciones |</a>
                  <a target="blank" routerLink="./assets/terminosPdf/terminos.pdf"> Terminos y Condiciones </a>
              </div>

              <div class="span3 dinamix" style="float:right;">
                  <a href="http://www.dinamixstudio.com" target="_blank"><img src="./assets/img/logo_dinamix.png" alt="DINAMIX | STUDIO"></a>

              </div>


          </div>

          <div class="row-fluid">
              <div class="span12 footer_btom">
                  <p>&copy; Copyright MIBOLETERIA . Todos los derechos reservados.</p>
              </div>
          </div>
      </div>
  </footer>

</div>

</div>

</body>
</html>