<div id="cont_log">
    <div id="logo"><a href="#"><img src="./assets/img/logo.png" alt=""></a></div>
    <div id="log" class="content">

        <div class="cerrar"  ><a (click)="this.back()"><h4><strong>CERRAR <span class="celeste">X</span></strong></h4></a></div>
        <img src="assets/img/logo_small.png" class="logo_small">
        
        <div  *ngIf="show; else notShow">
        <div id="div_recup_clave" name="div_recup_clave"   >
            <div class="row-fluid">
                <form  class="form-horizontal " >

                    <div class="control-group" id="r1Div">
                        <label class="control-label" for="r4"><h4><strong >E-MAIL:</strong></h4></label>
                        <div class="controls">
                            <input type="email"  maxlength="100"  id="r4" name="r4" class="input_bg"  required />
                            <input type="submit" id="r5" name="r5" class="hide" />

                        </div>
                    </div>


                </form>
            </div>
            <div class="row-fluid" style="float:right">

                <div  class="button btn_log boton_violeta " id="ingresar">
                    <button onclick="r5.click();"  >enviar</button>

                </div>
                <div class="button btn_log boton_gris" id="regis">
                    <button onclick="reg2.click()"><span>registrarme</span></button>
                    <a data-toggle="modal" data-target="#registrarse_modal" name='reg2' id='reg2' class="hide"></a>

                </div>
                <div class="button btn_log boton_gris" id="rec_clave">
                    <button (click)="show = false"><span>loguearse</span></button>
                </div>

            </div>
            <small>Introduzca su e-mail para que podamos enviarle un recordatorio de su contraseña</small>
        </div>
            </div>
        <ng-template id="div_sesion"  name="div_sesion"   #notShow >
            <div class="row-fluid">
                <form class="form-horizontal"  ngNativeValidate #loginForm="ngForm" (ngSubmit)=(iniciarSesion(loginForm))>

                    <div class="control-group" id="r1Div">
                        <label class="control-label" for="r1"><h4><strong class="celeste">E-MAIL:</strong></h4></label>
                        <div class="controls">
                            <input type="email"  maxlength="100"  id="correo" name="correo" [(ngModel)]="correo"  class="input_bg"  required />


                        </div>
                    </div>
                    <div class="control-group" id="r2Div">
                        <label class="control-label" for="r2"><h4><strong>CONTRASE&Ntilde;A:</strong></h4></label>
                        <div class="controls">
                            <input type="password"  maxlength="100"  id="contrasenia" name="contrasenia" [(ngModel)]="contrasenia" class="input_bg"  required />
                            <input type="submit" id="r3" name="r3" class="hide" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="row-fluid" style="float:right">

                <div  class="button btn_log boton_violeta " id="ingresar">
                    <button onclick="r3.click();"  >ingresar</button>

                </div>
                <div class="button btn_log boton_gris" id="regis">
                    <button data-toggle="modal" data-target="#registrarse_modal"><span>registrarme</span></button>
                </div>
                <div class="button btn_log boton_gris" id="rec_clave">
                    <button  (click)="show = true"><span>recuperar contrase&ntilde;a</span></button>
                </div>

            </div>
            <div class="row-fluid"><small>Introduzca su e-mail y contraseña para acceder a los servicios de miboleteria.</small></div>
            <img src="assets/img/lock.png" class="candado">
        </ng-template>





    </div>

</div>


<div id="registrarse_modal" class="modal hide fade  " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div class="cerrar_modal">
        <a data-dismiss="modal" aria-hidden="true" > <div class="cerrar"><h4><strong>CERRAR <span class="celeste">X</span></strong></h4></div></a>
    </div>
    <div class="modal-header">

        <h3 id="myModalLabelA" >REGISTRARME EN MIBOLETERIA</h3>
      
    </div>
    <div class="cont">
        <div class="modal-body">
            <div class="row-fluid"> 
                <div class="span6"><img src="assets/img/logo-med.png"></div>
                <div class="span6" style="margin-top: 20px;"><h4><strong> <span class="celeste">LLENE </span></strong>CON SUS <strong> <span class="celeste">DATOS PERSONALES</span></strong></h4></div></div>
              
                <form ngNativeValidate #registroForm="ngForm" (ngSubmit)=(registrarUsuario(registroForm))>
                  
                  <input type="text" id="nombre" name="nombre"[(ngModel)]="nombre" class="input-block-level input_mod" placeholder="NOMBRE"  required />
                <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" class="input-block-level input_mod" placeholder="APELLIDO"  required />
                <div style="float: left;width: 330px;">
                    <select id="tipoDoc" name="tipoDoc" class="selectReg"  [(ngModel)]="tipoDoc.status"  required oninvalid="this.setCustomValidity('Debes elegir un tipo de documento')"
 oninput="setCustomValidity('')">
                         <option  [value]="''" [selected]="tipoDoc.status ==''" disabled >TIPO DE DOCUMENTO (DNI,CI,LE,LC,PAS)</option>
                        <option value="DNI">DNI</option>
                        <option value="CI">CI</option>
                        <option value="LE">LE</option>
                        <option value="LC">LC</option>
                        <option value="DNI">PAS</option>
                    </select>
                </div> 
        
                <div style="margin-left: 332px;width: 328px">
                    <input type="text" id="nroDoc" name="nroDoc" minlength="7" maxlength="8"  pattern="\d*" [(ngModel)]="nroDoc" style="width: 308px"  class="input-block-level input_mod" placeholder="NRO DE DOCUMENTO" required/>
                </div>
                <div style="float: left;width: 330px;">
                    <input type="password" id="pass"name="pass"  minlength="6"  [(ngModel)]="pass"   style="width: 330px;"  class="input-block-level input_mod" placeholder="Contrase&ntilde;a" required/>
                </div> 
                       
                <div style="margin-left: 332px;width: 328px">
                    <input type="password" id="pass2" name="pass2"  minlength="6" [(ngModel)]="pass2"  style="width: 308px"  class="input-block-level input_mod" placeholder="Confirmar Contrase&ntilde;a" required/>
                </div>
                <input type="text" id="direc" name="direc"  [(ngModel)]="direc"  class="input-block-level input_mod" placeholder="DIRECCI&Oacute;N"  required />

                <div style="float: left;width: 330px;">
                    <select id="provincia" name="provincia"  [(ngModel)]="provincia.status" class="selectReg"  required oninvalid="this.setCustomValidity('Debes elegir una provincia')"
 oninput="setCustomValidity('')">
                       <option  [value]="''" [selected]="provincia.status ==''" disabled>(Elija su provincia)</option>
                        <option *ngFor="let provincia of provincias" [value]="provincia.getIdProvincia()">
                            {{provincia.getNombre()}}
                    </option>
                </select>
            </div>
            <div style="margin-left: 332px;width: 328px">
                <input type="text" id="ciudad" name="ciudad" [(ngModel)]="ciudad" style="width: 308px"  class="input-block-level input_mod" placeholder="CIUDAD" required/>
                <input type="number" id="contador" name="contador" style="visibility: hidden;display: none;" value="{{contador}}">
            </div>

            <input type="number" step="1" id="codPostal" name="codPostal" [(ngModel)]="codPostal" class="input-block-level input_mod" placeholder="C&Oacute;DIGO POSTAL"  required />
           <input type="email" id="email" name="email"(change)="usuarioExiste(email)"  [(ngModel)]="email"  class="input-block-level input_mod" placeholder="EMAIL"  required />

            <input type="text" id="telefono" name="telefono"  pattern="\d*" [(ngModel)]="telefono" class="input-block-level input_mod" placeholder="TEL&Eacute;FONO"  required />
            
            <div class="row-fluid" style="margin-top: 10px;width:640px;">
                <div class="button btn_log boton_gris" id="regis">
                    <button type="submit" ><span>registrarme</span></button>
                </div>
            </div>
            
              </form> 
            <div class="row-fluid">
                <div class="errorForm" *ngIf="passMatch==false"  >ERROR: LAS CONTRASE&Ntilde;AS NO SON IGUALES.</div>
                <div class="errorForm" *ngIf="contador==1"  >ERROR: EL CORREO INGRESADO PERTENECE A UN USUARIO YA REGISTRADO.</div>
                <small >LOS DATOS QUE TE SOLICITAMOS A CONTINUACI&Oacute;N SON PARA TU SEGURIDAD AL MOMENTO DE REALIZAR TUS COMPRAS.</small>
            </div>
       
        


    </div>

</div>
</div>

