#cont_paso3{
    background: #fff url(./../../assets/img/fondo_cont3.jpg) no-repeat;
    height: 420px;
}
#izq{
    width:180px;
    padding-left: 15px;
}
#cont_paso3 .span9{
    width:523px;
}
#img_izq{
    width: 115px;
    height: 173px;
    border: 3px solid #adadad;
    float: left;
    
}
#header_izq{
    float: left;
    margin-top: 10px;
}
#izq .letra{
    line-height: 14px;
}
.letra h5{
    color:#000;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 0px;
    font-size: 15px; 
}
#derecho th h5{
    font-size:15px;
}
#derecho select{
    width: 143px;
    height: 19px;
    font-size: 10px;
    border-radius: 0px;
    margin:1.5px;
}
tbody td {
    font: 12px 'Tahoma';
}
#cant{
    width: 170px;
}
#ticket{
    text-align: right;
}
#cost{
    width: 70px;
    text-align: left;
}