<div id="cont_paso3" ><!--añadir class ocultar para no mostrar el div,y que no se reserve espacio para el elemento-->
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="span3 text-center" id="izq">
                <img id="header_izq" src="./assets/img/header_paso3.png" alt="img movie">
                <h5 class="letra myriad rojo text-left">{{entradaControlador.$nombrePelicula}}</h5>
                <img  id="img_izq" src="./assets/img/peliculas/{{entradaControlador.$idPelicula}}.jpg" alt="img movie">
                <small class="gris"><b>Clasificaci&oacute;n:</b> ATP</small>
            </div>
            <div class="span9" id="derecho">
                <table>
                    <thead>
                        <tr>
                            <th id="ticket"><h5 class="letra myriad bold"><span class="rojo">TIPO DE</span> TICKETS</h5></th>
                            <th id="cant"><h5 class="letra myriad bold">CANT:</h5></th>
                            <th id="cost"><h5 class="letra myriad bold">COSTO:</h5></th>
                            <th><h5 class="letra myriad bold">SUBTOTAL:</h5></th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td><div class="text-right">GENERAL 3D:</div></td>
                            <td>
                                <div class="text-center">
                                    <select id="selc1">
                                        <option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10];" value="i">{{i}}</option>
                                    </select>
                                </div>
                            </td>
                            <td ><span class="bold">$240.00</span></td>
                            <td class="text-center"><span class="bold rojo">$0.00</span></td>
                        </tr>
                        <tr *ngFor="let beneficio of beneficios">
                            <td ><div class="text-right">2X1 {{beneficio.NOMBRE}}</div></td>
                            <td >
                                <div class="text-center"><select  [(ngModel)]="opcionSeleccionado" (change)="capturarBeneficio(beneficio.ID_BENEFICIO)">
                                        <option value="2" >2</option>
                                        <option value="4">4</option>
                                    </select></div> 
                            </td>
                            <td ><span class="bold" *ngIf="this.entradaControlador.$idBeneficio==beneficio.ID_BENEFICIO">${{this.entradaControlador.$precioEntrada}}</span></td>
                            <td class="text-center"><span class="bold rojo" *ngIf="this.entradaControlador.$idBeneficio==beneficio.ID_BENEFICIO">${{this.entradaControlador.$precioEntrada}}</span></td>
                        </tr>





                    </tbody>
                    <!--<tbody>
                         <tr>
                             <td><div class="text-right">GENERAL 3D:</div></td>
                             <td><div class="text-center"><select id="selc1">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td ><span class="bold">$250.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         <tr>
                             <td><div class="text-right">2X1 3D BANCO SANTANDER RIO:</div></td>
                             <td><div class="text-center"><select id="selc2">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td><span class="bold">$125.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         <tr>
                             <td><div class="text-right">2X1 TARJETA CENCOSUD:</div></td>
                             <td><div class="text-center"><select id="selc3">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td ><span class="bold">$125.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         <tr>
                             <td><div class="text-right">2X1 TARJETA CENCOSUD:</div></td>
                             <td><div class="text-center"><select id="selc3">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td ><span class="bold">$125.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         <tr>
                             <td><div class="text-right">2X1 3D CLUB PERSONAL:</div></td>
                             <td><div class="text-center"><select id="selc4">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td ><span class="bold">$125.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         <tr>
                             <td><div class="text-right">2X1 3D TELEFÓNICA MOVISTAR:</div></td>
                             <td><div class="text-center"><select id="selc5">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td ><span class="bold">$125.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         <tr>
                             <td><div class="text-right">2X1 MEDIFE:</div></td>
                             <td><div class="text-center"><select id="selc6">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td ><span class="bold">$125.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         <tr>
                             <td><div class="text-right">2X1 ASE:</div></td>
                             <td><div class="text-center"><select id="selc7">
                                     <option>0</option>
                                     <option>2</option>
                                 </select></div>
                             </td>
                             <td ><span class="bold">$125.00</span></td>
                             <td class="text-center"><span class="bold rojo">$0.00</span></td>
                         </tr>
                         
                     </tbody>--> 
                </table>
                <fieldset>
                    <legend></legend>
                </fieldset>
            </div>
        </div>
    </div>
</div>
